<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "おくったものは何ですか？" %>
  </div>
  <%= f.submit "登録する", class: "btn btn-primary" %>
  <span class="picture">
  <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function(){
    var size_in_megabites = this.files[0].size/1024/1024;
    if (size_in_megabites > 5) {
      alert('画像サイズは最大5MBです。画像を選択しなおしてください');
    }
  });
</script>
